{% extends "base.html" %}

{% block content %}

<div class="md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
            Create books for {{ author.name }}
        </h2>
    </div>
    <div class="mt-4 flex md:mt-0 md:ml-4">
        <button type="button" hx-get="{% url 'create-book-form' %}" hx-target="#bookforms" hx-swap="beforeend"
            class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Add form
        </button>
    </div>
</div>


<div id="bookforms" class="py-5 mt-5"></div>

<div class="mt-5 py-5 border-t border-gray-100">
    {% for book in books %}

    {% include "partials/book_detail.html" %}

    {% endfor %}
</div>

{% endblock %}